README.txt

# Ignore wandb outputs
/src_dev/**/*.wandb

# Ignore log files
/src_dev/**/*.log

# Ignore macOS DS_Store files
**/.DS_Store

# Ignore JSON
/src_dev/**/*.json

#Ignore txt
/src_dev/**/*.txt
