###Ignore private readme
README.txt

###Ignore requirements for all dev
requirements_dev.txt

###Ignore pyproject.tomal for now
##pyproject.toml

###Ignore all datafiles
/data/**
/data_code_checks_dev/**

###Ignore all illustrations
/illustrations/**

###Ignore dir with supplementary material to upload
/supplementary_information/**

###Ignore logfiles created in src dirs###
# Ignore wandb outputs
/src_dev/**/*.wandb
# Ignore log files
/src_dev/**/*.log
# Ignore macOS DS_Store files
**/.DS_Store
# Ignore Python bytecode cache
**/__pycache__/
*.pyc
# Ignore JSON
/src_dev/**/*.json
#Ignore txt
/src_dev/**/*.txt
#Ignore fasta
/src_dev/**/*.fasta*
#ignore archive directories
/**/archive
#ignore jobscripts to run all data
/src_dev/data_preprocessing/process_all_model_datasets_to_npy.sh
/src_dev/benchmark/eval/**

#Ignore dir with archived/old models
/models/old_versions_archive/**
