Bio==1.8.1
biopython==1.85
numpy==2.4.1
omegaconf==2.3.0
optuna==4.3.0
pandas==2.3.3
pysam==0.23.1
pytorch_crf==0.7.2
PyYAML==6.0.3
scikit_learn==1.8.0
torch==2.7.1
tqdm==4.67.1
transformers==4.36.0
wandb==0.23.1
